<p id="notice"><%= notice %></p>

<h1>Movies</h1>
<br>
<%= link_to 'New Movie', new_admin_movie_path, :class=>"btn btn-primary mb-5" %>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Genres</th>
            <th scope="col">Original language</th>
            <th scope="col">Action</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @movies.each do |movie| %>
        <tr>
            <td><%= movie.id %></td>
            <th scope="row"><%= movie.title %></th>
            <td><%= movie.description %></td>
            <td><%= movie.genre&.name %></td>
            <td><%= movie.original_language %></td>
            <td><%= link_to 'Show', admin_movie_path(movie), :class=>"btn btn-info" %></td>
            <td><%= link_to 'Edit', edit_admin_movie_path(movie), :class=>"btn btn-success " %></td>
            <td><%= link_to 'Destroy', admin_movie_path(movie), method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-danger" %></td>
        </tr>
        <% end %>
    </tbody>
</table>